  body {
    background-image: url(../image/final.png);
  }
  .content-div {
    margin-top: 200px;
    align-items: center;
  }

  .form {
      margin: auto;
      width: 50%;
  }

  .hex {
    margin-top: 37px;
    width: 130px;
    height: 75px;
    background-color: #49685D;
    border-color: #49685D;
    position: relative;
    display: inline-block;
  }

  .hex:before {
    content: " ";
    width: 0; height: 0;
    border-bottom: 37px solid;
    border-color: inherit;
    border-left: 65px solid transparent;
    border-right: 65px solid transparent;
    position: absolute;
    top: -37px;
  }
  .hex:after {
    content: " ";
    width: 0;
    position: absolute;
    bottom: -37px;
    border-top: 37px solid;
    border-color: inherit;
    border-left: 65px solid transparent;
    border-right: 65px solid transparent;
    z-index: 1;
  }

  .text{
    color: #fff;
    text-align: center;
    font-size: 35px;
    font-family: 'Agency FB', arial;
    font-weight: bold;
    text-transform: uppercase;
    white-space: nowrap;
    margin-left: 20px;
    margin-top: 20px;
    z-index: 1000;
    width: 100%;
  }

  .ribbon2 {
    width: 100%;
    height: 120px;
    z-index: 0;
    /* margin: 1px auto 0px; */
    position: relative;
    color: #fff;
    font: 18px/40px sans-serif;
    text-align: center;
    /* text-transform: uppercase; */
    background: #618376;

    -webkit-animation: main 250ms;
    -moz-animation: main 250ms;
    -ms-animation: main 250ms;
    animation: main 250ms;
  }

  .ribbon2 i {
    margin-top: 0;
    position: absolute;
  }

  .ribbon2 i:first-child {
    position: absolute;
    right: 0px;
    z-index: 1;
    border: 60px solid transparent;
    border-right-color: #749E8E;

    -webkit-animation: edge 500ms;
    -moz-animation: edge 500ms;
    -ms-animation: edge 500ms;
    animation: edge 500ms;
  }

  .ribbon2 i:nth-child(2) {
    width: 130px;
    bottom: -60px;
    left: auto;
    right: -190px;
    z-index: 2;
    border: 60px solid #446559;
    border-right-color: transparent;

    -webkit-animation: back 600ms;
    -moz-animation: back 600ms;
    -ms-animation: back 600ms;
    animation: back 600ms;

    -webkit-transform-origin: 100% 0;
    -moz-transform-origin: 100% 0;
    -ms-transform-origin: 100% 0;
    transform-origin: 100% 0;
  }

  .resulttext {
    width: 80%;
    text-align: left;
    color: #fff;
    font: 18px sans-serif;
    margin-left: 130px;
    padding: 10px;
    overflow:hidden;
  }
