<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
	<title>Home</title>
	<link rel="stylesheet" href="../static/css/home.css">
	<link rel="stylesheet" href="../static/css/header.css">
</head>
<body>
	{% include 'header.html' %}
	<div class="content-div">
		<div class="form">
			<form action = "/predict" method="POST" enctype = "multipart/form-data" name="myForm" onsubmit="return loader()">
				<div class="hex">
					<div class="text">
						Input Your FASTA Sequence
					</div>
				</div>
				<div class="ribbon2">
					<i></i>
					<i></i>
					<textarea class="seq" name="seq" placeholder=""></textarea>
				</div>
				<div class="labelfile">Or submit fasta file!</div>
				<div class="file">
					<input type="file" name="fasta" id="file-upload" class="inputfile"/>
					<label for="file-upload">
						<span id="filename">No file chosen...</span>
						<strong>Choose FASTA file!</strong>
					</label>
				</div>
				<div class="radio" id="radio">
					<label class="container">FASTA Sequence
					<input type="radio" checked="checked" name="radio" value="Sequence" id="Sequence">
					<span class="checkmark"></span>
					</label>
					<label class="container">FASTA file
					<input type="radio" name="radio" value="Fasta" id="Fasta" >
					<span class="checkmark"></span>
					</label>
				</div>	
				<div class="sub" id="sub">
					<input type="submit" class="submit" value="Submit"/>
					<input type="reset" class="clear" value="Clear">
				</div>
				<!-- MUTLI SPINNER -->
				<div id="loader-container">
					<div class="loader-div">
						<div class="loader-div">
							<div class="loader-div">
							
							</div>
						</div>
					</div>
				</div>
				<p class="examplelabel">Examples of FASTA sequence:</p>
				<p class="example">
					<b>Antioxidant</b>
					<br>
					<span>
						>P1
						<br>
						MTKGILLGDKFPDFRAETNEGFIPSFYDWIGKDSWAILFSHPRDFTPV
						<br>
						CTTELARLVQLAPEFNKRNVKLIGLSCDSAESHRKWVDDIMAVCKMKC
						<br>
						NDGDTCCSGNKLPFPIIADENRFLATELGMMDPDERDENGNALTARCV
						<br>
						FIIGPEKTLKLSILYPATTGRNFDEILRVVDSLQLTAVKLVATPVDWK
						<br>
						DGDDCVVLPTIDDTEAKKLFGEKINTIELPSGKHYLRMVAHPK
					</span>
				</p>
				<p class="example">
					<b>Non-Antioxidant</b>
					<br>
					<span>
						>P1
						<br>
						MTKGILLGDKFPDFRAETNEGFIPSFYDWIGKDSWAILFSHPRDFTPV
						<br>
						CTTELARLVQLAPEFNKRNVKLIGLSCDSAESHRKWVDDIMAVCKMKC
						<br>
						NDGDTCCSGNKLPFPIIADENRFLATELGMMDPDERDENGNALTARCV
						<br>
						FIIGPEKTLKLSILYPATTGRNFDEILRVVDSLQLTAVKLVATPVDWK
						<br>
						DGDDCVVLPTIDDTEAKKLFGEKINTIELPSGKHYLRMVAHPK
					</span>
				</p>
			</form>
		</div>
	</div>
	{% if alert %}
		<script>
  			alert("Your file not in Fasta format!");
		</script>
	{% endif %}
	<script>
		var input = document.getElementById('file-upload');
		var infoArea = document.getElementById('filename');

		input.addEventListener( 'change', showFileName );

		function showFileName( event ) {
			var input = event.srcElement;
			var fileName = input.files[0].name;
			infoArea.textContent = fileName;
		}

		function loader(){
			if(document.getElementById("Sequence").checked){
				var lines = document.forms["myForm"]["seq"].value.split("\n");
				var seq_id = lines[0]
				var seq = ""
				for(var i = 1; i < lines.length; i++){
					seq = seq.concat(lines[i])
				}
				var id_reg = /^>{1}./
				var seq_reg = /^[A|V|I|L|M|F|Y|W|S|T|N|Q|C|U|G|P|R|H|K|D|E]+$/;
				if (seq == "") {
					alert("Fasta sequence must be filled!");
					return false;
				}
				if (!id_reg.test(seq_id)) {
					alert("Invalid FASTA sequences format!");
					return false;
				}
				if (!seq_reg.test(seq)) {
					alert("Invalid protein sequences!");
					return false;
				}
			}else{
				if(document.getElementById("file-upload").value == "") {
					alert("Please input fasta file!")
					return false;
				}
			}
			var x = document.getElementById("loader-container");
			x.style.display = "block";
			var y = document.getElementById("sub");
			y.style.display = "none";
			var z = document.getElementById("radio");
			z.style.display = "none";
		}
	</script>
</body>
</html>