<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
	<title>Home</title>
	<link rel="stylesheet" href="../static/home.css">
</head>
<body>
	{% include 'header.html' %}
	<div class="content-div">
		<div class="form">
			<form action = "/predict" method = "POST" enctype = "multipart/form-data">
				<div class="hex">
					<div class="text">
						Input your Sequence
					</div>
				</div>
				<div class="ribbon2">
					<i></i>
					<i></i>
					<textarea class="seq" name="seq" placeholder="Example: MRSPSLAVAATTVLGLFSSSALAYYGNTTTVALTTTEFVTTCPYPTTFTVSTCTNDVCQPTVVTVTEETTITIPGTVVCPVVSTPSGS"></textarea>
				</div>
				<div class="labelfile">Or submit fasta file!</div>
				<div class="file">
					<input type="file" name="fasta" id="file-upload" class="inputfile"/>
					<label for="file-upload">
						<span id="filename">No file chosen...</span>
						<strong>Choose fasta file!</strong>
					</label>
				</div>
				<div class="radio" id="radio">
					<label class="container">Sequence
					<input type="radio" checked="checked" name="radio" value="Sequence">
					<span class="checkmark"></span>
					</label>
					<label class="container">Fasta
					<input type="radio" name="radio" value="Fasta">
					<span class="checkmark"></span>
					</label>
				</div>	
				<div class="sub" id="sub">
					<input type="submit" class="submit" value="Submit" onclick="loader()"/>
					<input type="reset" class="clear" value="Clear">
				</div>
				<!-- MUTLI SPINNER -->
				<div id="loader-container">
					<div class="loader-div">
						<div class="loader-div">
							<div class="loader-div">
							
							</div>
						</div>
					</div>
				</div>
			</form>
		</div>
	</div>
	<script>
		var input = document.getElementById('file-upload');
		var infoArea = document.getElementById('filename');

		input.addEventListener( 'change', showFileName );

		function showFileName( event ) {
			var input = event.srcElement;
			var fileName = input.files[0].name;
			infoArea.textContent = fileName;
		}

		function loader(){
			var x = document.getElementById("loader-container");
			x.style.display = "block";
			var y = document.getElementById("sub");
			y.style.display = "none";
			var z = document.getElementById("radio");
			z.style.display = "none";
		}
	</script>
</body>
</html>