<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
	<title>Home</title>
	<link rel="stylesheet" href="../static/css/home.css">
	<link rel="stylesheet" href="../static/css/header.css">
	<link href="https://allfont.net/allfont.css?fonts=agency-fb" rel="stylesheet" type="text/css" />
</head>
<body>
	{% include 'header.html' %}
	<div class="content-div">
		<div class="form">
			<form name="myForm" action="/confirm" onsubmit="return validateForm()" method = "POST">
				<div class="hex">
					<div class="text">
						Input your Sequence
					</div>
				</div>
				<div class="ribbon2">
					<i></i>
					<i></i>
					<textarea class="seq" name="seq" placeholder="Example: MRSPSLAVAATTVLGLFSSSALAYYGNTTTVALTTTEFVTTCPYPTTFTVSTCTNDVCQPTVVTVTEETTITIPGTVVCPVVSTPSGS"></textarea>
				</div>
				<div class="labelemail">Enter your email so we can send it to you when the results are available!</div>
				<div class="email" >
					<input type="email" placeholder="abcd@1234" name="email">
				</div>
				<div class="sub">
					<input type="submit" class="submit" value="Submit"/>
					<input type="reset" class="clear" value="Clear">
				</div>
			</form>
		</div>
	</div>
	{% if result %}
		<script>
  			alert("We received your submit!\n we'll email you when the result is ready");
		</script>
	{% endif %}
	<script>
		function validateForm() {
			var seq = document.forms["myForm"]["seq"].value;
			var email = document.forms["myForm"]["email"].value;
			var seq_reg = /^[A|V|I|L|M|F|Y|W|S|T|N|Q|C|U|G|P|R|H|K|D|E]+$/;
			if (email == "" | seq == "") {
				alert("All input must be filled!");
				return false;
			}
			if (!seq_reg.test(seq)) {
				alert("Invalid protein sequences!");
				return false;
			}
		}
	</script>
</body>
</html>
