<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
	<title>Problem</title>
	<link rel="stylesheet" href="../static/style.css">
</head>

<body>        
    <div class="container">
        <div class="row">                
            <div>
                <section class="center">
                    <figure>
                        <img src="../static/pr1.jpg" alt="Header image" class="img-fluid" height="200px">    
                    </figure>
                </section>

                <div class="tm-content-div">
                    <section id="math" class="tm-section">
                        <header>
                            <h2 class="tm-blue-text tm-welcome-title tm-margin-b-45">
                                iPseU-NCP: Identifying RNA Pseudouridine sites using Random Forest and NCP-encoded features                                
                            </h2>
                        </header>                        
                    </section>
                    
                    <div id="content">
                        <form action = "/result" method = "POST">
                            <p align="center"><label for="seq">Input Sequence</label></p>
                            <p align="center">
                                <textarea cols="66" style="width: 550px; height: 200px;" id="seq" name="seq"></textarea>
                            </p>
                            <p align="center"><label for="seq">Your Email</label></p>
                            <p align="center">
                                <input type="text" style="width: 550px;" id="email" name="email">
                            </p>
                            <p align="center">
                                <input type = "submit" value="Submit" onclick="loading1();"/>
                                <input type="reset" value="Clear">
                            </p>
                        </form>
                    </div>		
                    <br />
                </div> <!-- Right column: content -->
            </div>
        </div> <!-- row -->
    </div> <!-- container -->
    <script>
        function loading1() {
            /*var loading = document.getElementById("loading");
            var content = document.getElementById("content");
            loading.style.display = "block";
            content.style.display = "none"; */
            
            alert("We received your request. We will send the result by email!");
        }
    </script>
</body>
</html>
